.flower-detail-content{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flower-detail-image img{
    border-radius: 10px;
}

.flower-detail-description{
    border-radius: 10px;
    border: solid 2px black;
    padding: var(--gap-distance);
    background-color: white;
}

.flower-detail-content > div{
    margin: var(--gap-distance);
}