.image-list-view-item {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    height: -webkit-fill-available;
}

.image-list-view-item-bg{
    height: 100%;
    width: 100%;
}

.item-name{
    z-index: 10;
    position: absolute;
    bottom: 0;
    color: white;
}