:root {
  --main-background: white;
  --gap-distance: 3vh;
}

.App {
  background-color: var(--main-background);
}


.App-header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #f28d56;
}

.App-logo {
  height: 10vmin;
  pointer-events: auto;
}

.App-body{
  margin-top: var(--gap-distance);
}

.container{
  padding: var(--gap-distance);
}

.float-right{
  float: inline-end;
}